<div class="bg-image">
    <h1 class="text-center neon-text">What Are Offer?</h1>
    <div class="container my-4">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://media.wired.com/photos/593256364dc9b45ccec5d503/master/w_2560%2Cc_limit/13432627025_c000a68259_b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VIDEOGAMES</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://www.cocinadelirante.com/800x600/filters:format(webp):quality(75)/sites/default/files/images/2023/08/receta-de-pizza-sin-horno.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">NICE FOOD</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/d/1j-HugctW31-vMcSf97iRXOBJCpfSPSba" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CHILL PLACE</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


